<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>todo</title>
</head>
<body>
    <div id="myDIV" class="header">
      <h2 style="margin: 5px">To Do 목록</h2>
      <input type="text" id="myInput" placeholder="할일을 적어주세요." />
      <span onclick="newElement()" class="addBtn">추가</span>
    </div>

    <ul id="myUL">
      <li>파이썬 완성 책 완독</li>
      <li class="checked">북한산 가기</li>
      <li>자바스크립트 온라인 강의 듣기</li>
      <li>코스트코 다녀오기</li>
        <li>{{todo}}</li>
    </ul>
</body>
</html>